<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">

<servlet>
<servlet-name>adminlogin</servlet-name>
<servlet-class>servlet.adminlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminlogin</servlet-name>
<url-pattern>/admlog</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addCustomer</servlet-name>
<servlet-class>servlet.addCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addCustomer</servlet-name>
<url-pattern>/addcus</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>manageCustomers</servlet-name>
<servlet-class>servlet.manageCustomers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageCustomers</servlet-name>
<url-pattern>/mangcus</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteCustomer</servlet-name>
<servlet-class>servlet.deleteCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteCustomer</servlet-name>
<url-pattern>/delecus</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateCustomer</servlet-name>
<servlet-class>servlet.updateCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateCustomer</servlet-name>
<url-pattern>/updtcus</url-pattern>
</servlet-mapping>
</web-app>